.comment {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--color-white);
  border-radius: 2px;
  border: 1px solid var(--color-secondary-50);
}

.header {
  display: flex;
  gap: 0.5rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.heading {
  line-height: 1;
}

.publish {
  display: flex;
  color: var(--color-secondary-100);
  font-size: 0.75rem;
}

.content {
  padding: 0.5rem 0;
  margin: 0;
  color: var(--color-text-primary);
  font-size: 0.875rem;
}

.footer {
  display: flex;
  gap: 0.25rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.icon {
  display: block;
  font-size: 0.875rem;
  cursor: pointer;
}

.likes {
  display: block;
  font-size: 0.75rem;
  color: var(--color-text-primary);
}
