.modalElement {
  position: fixed;
  width: min(calc(100% - 2rem), 340px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  z-index: var(--z-modal);
  background-color: var(--color-surface-elevated-1);
  will-change: opacity, transform;
  border-radius: 2px;
}

.enter {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
}

.enterActive {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28),
    transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
  transition: opacity 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28),
    transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
