.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  width: min(1400px, 100%);
  margin: 0 auto;
  padding: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: min(768px, 100%);
  margin: 0 auto;
}

.heading {
  margin-top: 0.5rem;
  line-height: 1;
  font-family: Oswald, sans-serif;
}

.text {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}
