.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2px;
}

.header {
  position: relative;
  height: 120px;
  transition: 0.3s linear;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-surface-10);
  aspect-ratio: 16 / 9;
  color: var(--color-text-primary);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/* .header:hover {
  filter: brightness(0.8);
} */

.content {
  height: 80px;
  padding: 0.5rem;
  border-right: 1px solid var(--color-secondary-50);
  border-left: 1px solid var(--color-secondary-50);
  color: var(--color-text-primary);
  font-size: 14px;
  /* display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; */
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  border-right: 1px solid var(--color-secondary-50);
  border-bottom: 1px solid var(--color-secondary-50);
  border-left: 1px solid var(--color-secondary-50);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
