.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.header {
  position: relative;
  height: 140px;
  transition: 0.3s linear;
  background-color: var(--color-surface-10);
  color: var(--color-text-primary);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header:hover {
  filter: brightness(0.8);
}

.content {
  height: 80px;
  padding: 0.5rem;
  color: var(--color-text-primary);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  display: flex;
  padding: 0.5rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
