.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
  background-image: url('/images/world.webp');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}

.artanddesign {
  background-image: url('/images/artanddesign.webp');
}

.australia-news {
  background-image: url('/images/australia-news.webp');
}

.cities {
  background-image: url('/images/cities.webp');
}

.environment {
  background-image: url('/images/environment.webp');
}

.fashion {
  background-image: url('/images/fashion.webp');
}

.film {
  background-image: url('/images/film.webp');
}

.food {
  background-image: url('/images/food.webp');
}

.football {
  background-image: url('/images/football.webp');
}

.games {
  background-image: url('/images/games.webp');
}

.music {
  background-image: url('/images/music.webp');
}

.news {
  background-image: url('/images/news.webp');
}

.politics {
  background-image: url('/images/politics.webp');
}

.science {
  background-image: url('/images/science.webp');
}

.sport {
  background-image: url('/images/sport.webp');
}

.technology {
  background-image: url('/images/technology.webp');
}

.travel {
  background-image: url('/images/travel.webp');
}

.uk-news {
  background-image: url('/images/uk-news.webp');
}

.us-news {
  background-image: url('/images/us-news.webp');
}

.weather {
  background-image: url('/images/weather.webp');
}

.world {
  background-image: url('/images/world.webp');
}

.header {
  padding: 0.5rem;
  width: 100%;
  color: white;
}

.title {
  font-weight: 500;
  font-size: 0.875rem;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.subTitle {
  font-size: 0.75rem;
}

.footer {
  padding: 0.5rem;
}

button.button {
  border-radius: 2px;
  font-size: 10px;
}

.container:hover button.removeButton {
  display: block;
  pointer-events: all;
  user-select: all;
}

button.removeButton {
  display: none;
  position: absolute;
  top: 0rem;
  right: 0rem;
  pointer-events: none;
  user-select: none;
}

button.removeButton svg {
  transition: color 300ms linear;
  color: var(--color-negative-300);
}

button.removeButton:hover svg {
  color: var(--color-negative-700);
}

.container button.grip {
  min-width: 24px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}

.container button.grip:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (hover: none) {
  button.removeButton {
    display: block;
  }
}
