@import '../../home/forms/Forms.css';

.form {
  width: min(100%, 400px);
}

.form:nth-child(2) {
  margin: 1rem 0;
}

.form button[type='submit'] {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}

.form button[type='submit']:hover {
  --primary-color-hover: #3565b5;
  background-color: var(--primary-color-hover);
}
