@import '../../home/forms/Forms.css';

.form {
  display: block;
  width: min(100%, 400px);
}

.form:nth-child(2) {
  margin: 1rem 0;
}

.form button[type='submit'] {
  margin-top: 1rem;
  width: 100%;
}
