.alert-error {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--negative-color);
  padding: 0.5rem 0.5rem;
  width: 100%;
}

.alert-error__icon {
  display: inline-block;
  color: var(--color-text-primary-light);
}

.alert-error__text {
  color: var(--color-text-primary-light);
  font-size: 0.875rem;
}

.alert-error--profile {
  margin-top: 1rem;
  width: 25rem;
}

.alert-error--article-details {
  margin-top: 0.5rem;
  width: 100%;
}
