.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: inherit;
}

.header {
  position: relative;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
}

.section {
  display: flex;
  background-color: var(--color-surface);
  overflow: hidden;
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0.5rem 0.5rem;
}

.title {
  height: 23px;
  margin-top: 1rem;
}

.subTitle {
  height: 17px;
  margin-bottom: 1rem;
  font-size: 14px;
}

.gridLayout {
  position: relative;
  flex: 1;
  border: 1px solid #e2e2e2;
  background-color: var(--color-white);
  padding: 0.5rem;
  width: 100%;
  height: calc(100% - 178px);
}

.gridStack {
  flex: 1;
  opacity: 1;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: transparent;
}

.containerAside {
  width: fit-content;
  min-height: calc(100% - 16px);
  max-height: 100%;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  border: 1px solid #e2e2e2;
  padding: 0.5rem 0.35rem 0.5rem 0.5rem;
}

.aside {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.gridItem {
  border-radius: 2px;
  padding: 1rem;
  width: 100%;
  min-height: 1.5rem;
}

.footer {
  height: 38px;
  background-color: #e2e2e2;
}

@media (min-width: 768px) {
  .aside {
    width: 15.625rem;
  }

  .containerAside {
    width: inherit;
  }

  .gridItem {
    min-height: 100px;
  }
}

/* ------- */

.skeleton {
  background-color: #e2e2e2;
  position: relative;
  overflow: hidden;
}

.shimmer {
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.shimmer {
  background: linear-gradient(90deg, #e2e2e2 0%, #f4f4f4 50%, #e2e2e2 100%);
  background-size: 800px 100%;
}
