.tabs {
  position: relative;
  height: 100%;
}

.tabs__list {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.tabs__list:nth-child(2) {
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-border-200);
}

.tabs__tab {
  display: flex;
  position: relative;
  flex: auto;
  box-shadow: 0px 0px 0px 1px white;
  border: initial;
  border-radius: initial;
  padding: 0.35rem 0.55rem 0.35rem 0.55rem;
  max-width: min-content;
  overflow: hidden;
  white-space: nowrap;
}

.tabs__tab--active:hover {
  background-color: var(--primary-color-hover);
}

.tabs__tab--sub {
  box-shadow: initial;
  border: none;
  border-radius: initial;
  background-color: var(--transparent-color);
  padding: initial;
  min-height: 18px;
}

.tabs__tab--sub:hover {
  background-color: var(--transparent-color);
}

.tabs__tab--sub.tabs__tab--active {
  box-shadow: 0px -3px 0px -1px var(--primary-color) inset;
  border: initial;
  border-radius: initial;
  background-color: var(--transparent-color);
  color: var(--color-text-secondary);
}

.tabs__tab--sub .tabs__text {
  min-width: 1rem;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabs__tab--sub.tabs__tab--active .tabs__close {
  color: var(--primary-color);
}

.tabs__close {
  display: none;
  position: absolute;
  right: 4px;
  padding: 0 0.25rem;
  color: var(--color-text-primary-light);
}

.tabs__tab--active .tabs__text {
  margin-right: 1.4rem;
}

.tabs__tab--active {
  background-color: var(--primary-color);
  min-width: max-content;
  color: var(--color-text-primary-light);
}

.tabs__tab--active .tabs__close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tabs__list::-webkit-scrollbar-track {
  border-radius: 100vh;
  background-color: var(--transparent-color);
}

.tabs__list::-webkit-scrollbar {
  background-color: var(--transparent-color);
  height: 6px;
}

.tabs__list::-webkit-scrollbar-thumb {
  border: 2px solid var(--transparent-color);
  border-radius: 100vh;
  background-clip: padding-box;
  background-color: var(--secondary-color);
}

.tabs__list::-webkit-scrollbar-thumb:hover {
  border-width: 1px;
}

@media (hover: hover) and (max-width: 700px) {
  .tabs__list {
    overflow-x: auto;
  }

  .tabs__tab {
    overflow: initial;
  }
}

@media (hover: none) {
  .tabs__tab:hover {
    background-color: var(--primary-color);
  }

  .tabs__tab--sub:hover {
    background-color: var(--transparent-color);
  }

  .tabs__list {
    overflow-x: auto;
  }

  .tabs__tab {
    display: flex;
    position: relative;
    padding: 0.35rem 0.5rem 0.35rem 0.5rem;
    overflow: initial;
    white-space: nowrap;
  }

  .tabs__tab.tabs__tab--sub {
    padding: initial;
  }
}
