/* .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: inherit;
} */

.section {
  width: 100%;
  flex: 1;
  background-color: var(--color-surface);
  padding: 0.5rem;
}
