.grid-card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.grid-card__title {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0;
  width: 100%;
  color: white;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
}

.drag-start {
  cursor: grab;
}

.drag-move {
  cursor: grabbing;
}

.grid-card__header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
}

.grid-card__handle {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0.25rem;
  color: #555555;
}

.grid-card__remove {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: initial;
  background-color: white;
  padding: 0.25rem;
  color: var(--negative-color);
}

.grid-card__image {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

@media (hover: hover) {
  .grid-card__remove {
    display: none;
  }

  .grid-card__header:hover .grid-card__remove {
    display: block;
  }

  .grid-card__handle:active + .grid-card__remove {
    display: none;
  }

  .grid-card__remove:active,
  .grid-card__remove:focus,
  .grid-card__remove:focus-within {
    display: none;
  }
}
