.grid-layout-container {
  position: relative;
  flex: 1;
  border: 1px solid var(--color-secondary-50);
  background-color: var(--color-white);
  padding: 0.5rem 0 0 0.5rem;
  width: 100%;
  height: calc(100% - 178px);
}

.grid-stack {
  flex: 1;
  opacity: 1;
  background-color: var(--color-white);
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

div.grid-stack-item-content {
  touch-action: none;
}
