form {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 0.15rem;
  font-size: 0.75rem;
}

input {
  width: 100%;
  padding: 0.25rem 0.5rem;
}

fieldset {
  margin-bottom: 0.25rem;
  border: none;
}
