.asideContainer {
  width: inherit;
  min-height: calc(100% - 16px);
  max-height: 100%;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  border: 1px solid var(--color-secondary-50);
  background-color: var(--color-white);
  padding: 0.5rem 0.35rem 0.5rem 0.5rem;
}

.aside {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 15.625rem;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .aside {
    width: fit-content;
  }

  .asideContainer {
    width: fit-content;
  }
}
