.commentsSection {
  width: min(575px, 100%);
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-secondary-50);
  margin-bottom: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
