.tabsList {
  padding-bottom: 0.5rem;
}

.slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--color-white);
  animation: slide 600ms linear forwards;
  z-index: 1;
}

@keyframes slide {
  from {
    transform: translateY(-50px);
    box-shadow: 0px 1px 0px 0px transparent;
  }

  to {
    transform: translateY(0);
    box-shadow: 0px 1px 0px 0px var(--color-secondary-50);
  }
}
