.tabs__list-container {
  display: flex;
  position: fixed;
  top: 45px;
  left: 0px;
  flex-direction: column;
  gap: 0.25rem;
  z-index: 3;
  background-color: var(--color-surface);
  padding: 0.5rem;
  width: 100%;
}

.button-home {
  box-shadow: 0px 0px 0px 1px var(--ligh-color);
  border: initial;
}

.tabs__panel {
  opacity: 0;
  animation: fadeIn 0.7s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
