.tabs__list-container {
  display: flex;
  position: fixed;
  top: 45px;
  left: 0px;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 3;
  background-color: #f9f9f9;
  padding: 0.5rem;
  width: 100%;
}

.button-home {
  box-shadow: 0px 0px 0px 1px white;
  border: initial;
}

.tabs__panel {
  opacity: 0;
  animation: fadeIn 0.7s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (hover: none) {
  .tabs__list-container {
    gap: initial;
  }
}
