.comment-panel {
  border: 1px solid #ddd;
  padding: 0.8rem;
  margin: 0.5rem 0;
}

.comment-panel__header {
  display: flex;
  justify-content: space-between;
}

.comment-panel__footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
}

.comment-panel__content {
  font-size: 0.85rem;
  padding: 0.8rem 0;
  text-align: left;
}

.comment-form {
  margin: 0.5rem 0;
}

.comment-form form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.comment-panel__form.nested {
  margin: 0.8rem 0 0.8rem 1.6rem;
}

.comment-form button {
  display: block;
  margin-top: 0.5rem;
  background-color: #fff685;
  width: 10rem;
}

.comment-section.nested {
  margin-left: 1.6rem;
}
