.header {
  width: 100%;
  min-height: 50px;
  max-height: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  line-height: 1px;
}

.heading {
  margin-right: auto;
  color: var(--color-text-white);
}

@media (max-width: 575px) {
  .heading {
    font-size: 1rem;
  }
}
