.error {
  color: var(--negative-color);
  font-size: 0.75rem;
}

.no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text-secondary);
  text-align: center;
  text-transform: uppercase;
}

.no-data p {
  font-weight: 500;
  font-size: 0.875rem;
}

.no-data.aside-message > p {
  font-size: 0.5rem;
}

.no-data.articles svg,
.no-data.comments svg {
  font-size: 3rem;
}

.no-data.articles.server-error {
  color: var(--negative-color);
}

.no-data.comments.server-error {
  position: initial;
  transform: initial;
  margin: 0 auto;
  color: var(--negative-color);
}

.info-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
}

.info-message svg {
  font-size: 1rem;
  color: var(--color-text-secondary);
}

.info-message.info-message--article {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .no-data p {
    font-weight: 500;
    font-size: 1.25rem;
  }
}
