.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 46px;
  padding: 0.75rem 0.75rem;
  background-color: var(--color-primary-700);
}

.title {
  color: var(--color-text-white);
}

.title.neutral {
  color: var(--color-text-primary);
}

.iconClose {
  transition: 300ms linear;
}

.iconClose:hover {
  filter: brightness(0.9);
}

.negative {
  --color: var(--color-negative-500);
  background-color: var(--color);
}

.info {
  --color: var(--color-info-700);
  background-color: var(--color);
}

.neutral {
  --color: transparent;
  background-color: var(--color);
}

.primary {
  --color: var(--color-primary-700);
  background-color: var(--color);
}

.secondary {
  --color: var(--color-secondary-400);
  background-color: var(--color);
}

.success {
  --color: var(--color-success-400);
  background-color: var(--color);
}

.warning {
  --color: var(--color-warning-900);
  background-color: var(--color);
}

.outlined {
  background-color: transparent;
  border-bottom: 1px solid var(--color);
}

.outlined .title {
  background-color: transparent;
  color: var(--color);
}

/* ------ */

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(180% + 1.3px);
  animation: fall 600ms cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
}

.wave .shapeFill {
  fill: var(--color);
}

@keyframes fall {
  from {
    height: 0px;
  }
  to {
    height: 140px;
  }
}
