.changePassword {
  padding: 0.5rem;
  border: 1px solid var(--color-secondary-50);
  width: 100%;
}

.title {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-family: Oswald, sans-serif;
}

.subTitle {
  margin-bottom: 1rem;
  font-size: 0.75rem;
}
