.emptyState {
  position: sticky;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
  background-color: red;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}
